# Predict students' dropout and academic success

(학생들의 중도 탈락과 학업 성공 예측)

https://www.kaggle.com/datasets/thedevastator/higher-education-predictors-of-student-retention

## 00. 환경설정

In [40]:
%pip install pandas -q
%pip install kagglehub -q

Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd

In [48]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [ ]:
kor_mapping = {
    # 학생 정보 (Student Information)
    'Gender': '성별',
    'Nacionality': '국적',
    'Age at enrollment': '입학 시 나이',
    'Marital status': '혼인 상태',
    'Application mode': '지원 방식',
    'Application order': '지원 순위',
    'Course': '전공 과정',
    'Daytime/evening attendance': '주간/야간 구분',
    'Previous qualification': '최종 학력',
    'Scholarship holder': '장학금 수혜 여부',
    'International': '유학생 여부',

    # 사회·경제적 변수(Socioeconomic)
    "Mother's qualification": '어머니 학력',
    "Father's qualification": '아버지 학력',
    "Mother's occupation": '어머니 직업',
    "Father's occupation": '아버지 직업',
    'Displaced': '타지 거주 여부',
    'Educational special needs': '특수 교육 필요 여부',
    'Debtor': '등록금 체납 여부',
    'Tuition fees up to date': '등록금 납부 최신 여부',

    # 학업 관련 변수 (Academic performance) - 12개
    'Curricular units 1st sem (credited)': '1학기 이수 학점',
    'Curricular units 1st sem (enrolled)': '1학기 신청 학점',
    'Curricular units 1st sem (evaluations)': '1학기 평가 과목 수',
    'Curricular units 1st sem (approved)': '1학기 합격 과목 수',
    'Curricular units 1st sem (grade)': '1학기 평균 성적',
    'Curricular units 1st sem (without evaluations)': '1학기 평가 미실시 과목 수',

    'Curricular units 2nd sem (credited)': '2학기 이수 학점',
    'Curricular units 2nd sem (enrolled)': '2학기 신청 학점',
    'Curricular units 2nd sem (evaluations)': '2학기 평가 과목 수',
    'Curricular units 2nd sem (approved)': '2학기 합격 과목 수',
    'Curricular units 2nd sem (grade)': '2학기 평균 성적',
    'Curricular units 2nd sem (without evaluations)': '2학기 평가 미실시 과목 수',

    # 경제/사회 환경 변수 (Regional Socioeconomic Indicators)
    'Unemployment rate': '실업률',
    'Inflation rate': '물가상승률',
    'GDP': 'GDP',

    'Target': '학업 결과'
}

In [43]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("thedevastator/higher-education-predictors-of-student-retention")

print("Path to dataset files:", path)

Path to dataset files: /Users/gotaegyeong/.cache/kagglehub/datasets/thedevastator/higher-education-predictors-of-student-retention/versions/2

In [44]:
%cd /Users/gotaegyeong/.cache/kagglehub/datasets/thedevastator/higher-education-predictors-of-student-retention/versions/2
%ls -la

/Users/gotaegyeong/.cache/kagglehub/datasets/thedevastator/higher-education-predictors-of-student-retention/versions/2
total 920
drwxr-xr-x  3 gotaegyeong  staff      96 Dec  4 09:49 ./
drwxr-xr-x  3 gotaegyeong  staff      96 Dec  4 09:49 ../
-rw-r--r--  1 gotaegyeong  staff  470858 Dec  4 09:49 dataset.csv

In [49]:
# 데이터 로드
df = pd.read_csv('/Users/gotaegyeong/.cache/kagglehub/datasets/thedevastator/higher-education-predictors-of-student-retention/versions/2/dataset.csv')

# 컬럼명을 한글로 변경
df_kor = df.rename(columns=kor_mapping)

# 결과 확인
print(df_kor.shape)
df_kor.head()

(4424, 35)

,혼인 상태,지원 방식,지원 순위,전공 과정,주간/야간 구분,최종 학력,국적,어머니 학력,아버지 학력,어머니 직업,아버지 직업,타지 거주 여부,특수 교육 필요 여부,등록금 체납 여부,등록금 납부 최신 여부,성별,장학금 수혜 여부,입학 시 나이,유학생 여부,1학기 이수 학점,1학기 신청 학점,1학기 평가 과목 수,1학기 합격 과목 수,1학기 평균 성적,1학기 평가 미실시 과목 수,2학기 이수 학점,2학기 신청 학점,2학기 평가 과목 수,2학기 합격 과목 수,2학기 평균 성적,2학기 평가 미실시 과목 수,실업률,물가상승률,GDP,학업 결과
0,1,8,5,2,1,1,1,13,10,6,10,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,4,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,10,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,4,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,10,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [52]:
df.columns

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Displaced',
       'Educational special needs', 'Debtor', 'Tuition fees up to date',
       'Gender', 'Scholarship holder', 'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [53]:

df_kor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   혼인 상태            4424 non-null   int64
 1   지원 방식            4424 non-null   int64
 2   지원 순위            4424 non-null   int64
 3   전공 과정            4424 non-null   int64
 4   주간/야간 구분         4424 non-null   int64
 5   최종 학력            4424 non-null   int64
 6   국적               4424 non-null   int64
 7   어머니 학력           4424 non-null   int64
 8   아버지 학력           4424 non-null   int64
 9   어머니 직업           4424 non-null   int64
 10  아버지 직업           4424 non-null   int64
 11  타지 거주 여부         4424 non-null   int64
 12  특수 교육 필요 여부      4424 non-null   int64
 13  등록금 체납 여부        4424 non-null   int64
 14  등록금 납부 최신 여부     4424 non-null   int64
 15  성별               4424 non-null   int64
 16  장학금 수혜 여부        4424 non-null   int64
 17  입학 시 나이          4424 non-null   int64
 18  유학생 여부           4424 non-null   int64
 19  1학기 이수 학점        4424 non-null   int64
 20  1학기 신청 학점        4424 non-null   int64
 21  1학기 평가 과목 수      4424 non-null   int64
 22  1학기 합격 과목 수      4424 non-null   int64
 23  1학기 평균 성적        4424 non-null   float64
 24  1학기 평가 미실시 과목 수  4424 non-null   int64
 25  2학기 이수 학점        4424 non-null   int64
 26  2학기 신청 학점        4424 non-null   int64
 27  2학기 평가 과목 수      4424 non-null   int64
 28  2학기 합격 과목 수      4424 non-null   int64
 29  2학기 평균 성적        4424 non-null   float64
 30  2학기 평가 미실시 과목 수  4424 non-null   int64
 31  실업률              4424 non-null   float64
 32  물가상승률            4424 non-null   float64
 33  GDP              4424 non-null   float64
 34  학업 결과            4424 non-null   object
dtypes: float64(5), int64(29), object(1)
memory usage: 1.2+ MB

In [ ]:
df_kor.describe()
df_kor.isnull().sum()
df_kor.duplicated().sum()
df_kor.drop_duplicates(inplace=True)